/* import google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap");

/* variables  */
:root {
  --primary-color: #86d465;
  --secondary-color: #222;
  --accent-color: #fff;

  /* fonts  */
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--montserrat);
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* custom classes  */
.font-poppins {
  font-family: var(--poppins);
}
.container {
  max-width: min(100% - 2rem, 1200px) !important;
  margin-inline: auto !important;
}
